.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: opacity 0.15s;
}

.button:hover:not(:disabled) {
  opacity: 0.9;
}
