.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  transition: opacity 0.15s;
}

.button:hover:not(:disabled) {
  opacity: 0.9;
}

.icon {
  display: flex;
  align-items: center;
}
