.cell {
  border: 1px solid rgba(30, 58, 95, 0.4);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  transition: background-color 0.15s;
}

.cell:hover:not(:disabled) {
  filter: brightness(1.2);
}

.hitMarker {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.missMarker {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  opacity: 0.6;
}

.sunkMarker {
  width: 60%;
  height: 60%;
  border-radius: 2px;
  opacity: 0.7;
}
