.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.label {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.board {
  display: flex;
  flex-direction: column;
}

.colLabels {
  display: flex;
}

.row {
  display: flex;
  align-items: center;
}
