.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.colLabels {
  display: flex;
  flex-direction: row;
}

.gridBody {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
